
*{
    padding: 0;
    margin: 0;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url(./back.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.myPicture{
    width: 300px;
    background-color: rgba(73, 71, 71, 0.7);
    padding: 30px 0;
}


img{
    height: 250px;
    border-radius: 80%;
}

h1{
    color: rgba(199, 199, 212, 0.774);
}
h3{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 5px;
}

span{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 5px;
}

.social-links a{
	display: inline-block;
	height:30px;
	width: 30px;
	background-color: rgba(255,255,255,0.2);
	margin:10px;
	text-align: center;
	line-height: 30px;
	border-radius: 80%;
	color: #ffffff;
}
.social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

li{
    list-style-type:disc;
}
.container{
    padding: 5px;
    color: black;
}

body{
	background-color:grey;
}

ul{
    margin: 10px;
    margin-left:50px;
    color: rgba(161, 161, 185, 0.596);
}

.row1{
    border: 1px solid black;
    padding: 15px;
    background-color: rgb(8, 8, 8);
    color:rgba(199, 199, 212, 0.774);
    border-radius: 50px;
    padding: 25px;
}
.row2{
    border: 1px solid black;
    padding: 15px;
    margin-top: 5px;
    background-color: rgb(8, 8, 8);
    color: rgba(199, 199, 212, 0.774);
    border-radius: 50px;
    padding: 25px;
}

.row3{
    border: 1px solid black;
    padding: 15px;
    margin-top: 5px;
    background-color: rgb(8, 8, 8);
    color: rgba(199, 199, 212, 0.774);
    border-radius: 50px;
    padding: 25px;
}
footer{
    background-image: url(./back.jpg);
    background-size: cover;
    text-align: center;
}
.social-links {
	height: 30vh;
	align-items: center;
    justify-content: center;
    text-align: center;
	display: flex;
}
